// Container widths
$phone-width: 100%;
$tablet-width: 738px;
$desktop-width: 69vw;
$desktop-large-width: 69vw;

// breakpoints
$phone-and-down: 576px;
$tablet-and-down: 768px;
$desktop-and-down: 992px;
$desktop-large-and-down: 1200px;