.login {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

  &__image {
    height: 100%;
    position: relative;
    width: 60%;

    &::after {
      content: "";
      background: url('/static/images/auth/background.jpg');
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

}

.error {
  color: $color--red;
}

.login-form {
  background-color: $color--white;
  color: $color--black;
  width: 40%;
  height: 100%;
  padding: 15rem 5rem;
  box-sizing: border-box;

  &__heading {
    text-align: left;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-transform: lowercase;
  }

  &__subheading {
    text-align: left;
  }

  &__button {
    width: 250px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__element {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}