.landing {
  .hero {
    height: 80vh;
    display: flex;
    align-items: center;
  }

  .hero-search {
    padding-bottom: 20%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__heading {
      margin: 0;
      width: 70%;
      font-size: calc(2vw + 9px);
      color: $color--white;
      font-weight: 700;
      text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
    }

    &__background{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 90vh;
      min-height: 650px;
      background-size: cover;
      z-index: -1;
      transition: all ease-in-out 1s;
      animation-name: imageAnimation;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 80vh;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }

  @keyframes imageAnimation { 
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .feature {
    &::before {
      content: "";
      position: absolute;
      top: 80vh;
      left: 0;
      right: 0;
      height: 80vh;
      background: $color--white;
      z-index: -1;
    }

    &__heading {
      text-align: left;
    }

    &__subheading {
      color: $color--grey;
    }

    &__header {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      color: $color--black;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: flex-start;
    }


    .review {
      width: 23%;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &__inner {
        padding: 1rem;
        background: $color--white;
        box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1);
      }

      &__body {
        color: $color--black;
        font-weight: 300;
        font-size: .9rem;
        text-align: justify;
      }
    }
  }
}

.search-bar {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1);
  height: 60px;

  &__input {
    width: 85%;
    padding: 1rem 0rem;
    color: $color--black;
  }

  &__button {
    width: 10%;
    display: flex;
    justify-content: center;
    background: $color--white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: .5rem 0rem;
  }

  &__icon {
    width: 5%;
    background: $color--white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: $color--grey;
  }
}
