input.form__element {
  display: block;
  width: 100%;
  padding: .75rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $color--grey;
  background-color: $color--white;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1);
  outline: none;
}

.form {
  &__input {
    padding: 1rem;
    background: $color--white;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1);
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }
}
