.application {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__container {
    margin-top: 60px;
    @include container;
  }
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.VueCarousel-slide {
  padding: 1rem;
  box-sizing: border-box;
}
