.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 100;

  &--scrolled {
    position: fixed;
    background: $color--white;
    box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1);

    a {
      color: $color--black;
    }
    i {
      color: $color--red;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__logo {
    color: $color--white;
    height: 100%;
    width: 100px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items {
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    padding-right: 1rem;

    &--black {
      a {
        color: $color--black;

        &:hover {
          border-color: $color--black;
        }
      }
    }

    &__item {
      display: inline;
      padding: 1rem;

      &__link {
        color: $color--white;
        text-decoration: none;
        font-size: 1.1rem;
        text-transform: lowercase;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 1rem;
        border-bottom: 2px solid transparent;
        transition: all .3s;

        &:hover {
          border-color: $color--white;
        }
      }
    }
  }
}
